@font-face {
  font-family: "Alokary";
  src: url("/assets/alokary.ttf");
}
@font-face {
  font-family: "Romana-Regular";
  src: url("/assets/romana.otf");
}
@font-face {
  font-family: "Alata-Regular";
  src: url("/assets/alata.ttf");
}

.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #ffffff;
  width: 1280px;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.untitled-artwork-2-1 {
  width: 1288px;
  height: 736px;
  position: absolute;
  left: -8px;
  top: 109px;
}
.meibaopolaroid-2-1 {
  width: 444.54px;
  height: 585.58px;
  position: absolute;
  left: 209.52px;
  top: 201.83px;
  transform-origin: 0 0;
  transform: rotate(7.528deg) scale(1, 1);
}
.meibaoinpolaroid-1 {
  width: 449px;
  height: 591.83px;
  position: absolute;
  left: -39px;
  top: 185.93px;
  transform-origin: 0 0;
  transform: rotate(-3.822deg) scale(1, 1);
}
.rectangle-2 {
  background: #c43730;
  width: 1292px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.line-3 {
  border-style: solid;
  border-color: #fbf3ea;
  border-width: 3px 0 0 0;
  width: 1319px;
  height: 0px;
  position: absolute;
  left: -20px;
  top: 110px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.vector {
  height: auto;
  position: absolute;
  right: 95.62%;
  left: 3.2%;
  bottom: 82.21%;
  top: 16.95%;
  transform: translate(-8px, -1px);
  overflow: invisible;
}
.meimei-lu-logo {
  position: absolute;
  inset: 0;
}
.ml {
  color: #fbf3ea;
  text-align: center;
  letter-spacing: 0.18em;
  font: 400 40px "Alokary", serif;
  position: absolute;
  left: 441px;
  top: 0px;
  width: 398px;
}
.ml2 {
  color: #fbf3ea;
  text-align: center;
  letter-spacing: 0.18em;
  font: 400 40px "Alokary", serif;
  position: absolute;
  left: 442px;
  top: 0px;
  width: 398px;
}
.ml3 {
  color: #fbf3ea;
  text-align: center;
  letter-spacing: 0.18em;
  font: 400 40px "Alokary", serif;
  position: absolute;
  left: 440px;
  top: 0px;
  width: 398px;
}
.rectangle-3 {
  background: #b42d33;
  width: 11px;
  height: 2px;
  position: absolute;
  left: 489px;
  top: 70px;
}
.rectangle-5 {
  background: #b42d33;
  width: 11px;
  height: 2px;
  position: absolute;
  left: 612px;
  top: 66px;
}
.rectangle-4 {
  background: #b42d33;
  width: 11px;
  height: 2px;
  position: absolute;
  left: 601px;
  top: 70px;
}
.frame-8 {
  background: #fbf3ea;
  border-radius: 20px;
  width: 534px;
  height: 599px;
  position: absolute;
  left: 677px;
  top: 168px;
  overflow: hidden;
}
.about-me-i-am-meimei-lu-an-undergraduate-pursuing-a-bfa-in-graphic-design-at-the-george-washington-university-i-have-designed-freelance-work-and-i-have-had-my-work-exhibited-at-the-hirshhorn-museum-of-modern-art-in-washington-dc-graphic-design-began-for-me-when-i-was-12-i-became-part-of-a-community-of-teenagers-on-instagram-who-ran-accounts-dedicated-to-their-favorite-book-movie-or-tv-series-and-created-graphics-about-the-characters-in-those-fictional-worlds-from-then-onwards-designing-graphics-about-my-beloved-fictional-worlds-became-the-medium-of-art-i-loved-the-most-when-i-am-away-from-my-laptop-i-am-busy-writing-poems-playing-video-games-and-trying-to-fill-up-my-sketchbook {
  color: #545454;
  text-align: center;
  position: absolute;
  left: 84px;
  top: 55px;
  width: 365px;
  height: 508px;
}
.about-me-i-am-meimei-lu-an-undergraduate-pursuing-a-bfa-in-graphic-design-at-the-george-washington-university-i-have-designed-freelance-work-and-i-have-had-my-work-exhibited-at-the-hirshhorn-museum-of-modern-art-in-washington-dc-graphic-design-began-for-me-when-i-was-12-i-became-part-of-a-community-of-teenagers-on-instagram-who-ran-accounts-dedicated-to-their-favorite-book-movie-or-tv-series-and-created-graphics-about-the-characters-in-those-fictional-worlds-from-then-onwards-designing-graphics-about-my-beloved-fictional-worlds-became-the-medium-of-art-i-loved-the-most-when-i-am-away-from-my-laptop-i-am-busy-writing-poems-playing-video-games-and-trying-to-fill-up-my-sketchbook-span {
  color: #545454;
  font: 400 36px "Romana-Regular", serif;
}
.about-me-i-am-meimei-lu-an-undergraduate-pursuing-a-bfa-in-graphic-design-at-the-george-washington-university-i-have-designed-freelance-work-and-i-have-had-my-work-exhibited-at-the-hirshhorn-museum-of-modern-art-in-washington-dc-graphic-design-began-for-me-when-i-was-12-i-became-part-of-a-community-of-teenagers-on-instagram-who-ran-accounts-dedicated-to-their-favorite-book-movie-or-tv-series-and-created-graphics-about-the-characters-in-those-fictional-worlds-from-then-onwards-designing-graphics-about-my-beloved-fictional-worlds-became-the-medium-of-art-i-loved-the-most-when-i-am-away-from-my-laptop-i-am-busy-writing-poems-playing-video-games-and-trying-to-fill-up-my-sketchbook-span2 {
  color: #545454;
  font: 400 18px "Romana-Regular", sans-serif;
}
.about-me-i-am-meimei-lu-an-undergraduate-pursuing-a-bfa-in-graphic-design-at-the-george-washington-university-i-have-designed-freelance-work-and-i-have-had-my-work-exhibited-at-the-hirshhorn-museum-of-modern-art-in-washington-dc-graphic-design-began-for-me-when-i-was-12-i-became-part-of-a-community-of-teenagers-on-instagram-who-ran-accounts-dedicated-to-their-favorite-book-movie-or-tv-series-and-created-graphics-about-the-characters-in-those-fictional-worlds-from-then-onwards-designing-graphics-about-my-beloved-fictional-worlds-became-the-medium-of-art-i-loved-the-most-when-i-am-away-from-my-laptop-i-am-busy-writing-poems-playing-video-games-and-trying-to-fill-up-my-sketchbook-span3 {
  color: #545454;
  font: 400 16px "Alata-Regular", sans-serif;
}
.about {
  color: #fbf3ea;
  text-align: center;
  letter-spacing: 0.18em;
  font: 400 16px "Alokary", sans-serif;
  position: absolute;
  left: 163px;
  top: 38px;
}
.contact {
  color: #fbf3ea;
  text-align: center;
  letter-spacing: 0.18em;
  font: 400 16px "Alokary", sans-serif;
  position: absolute;
  left: 991px;
  top: 38px;
}
